.movie-page {
    color: var(--black-color);
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 2rem auto;
}

.movie-page svg {
    font-size: 1.5rem;
    color: #F7d354;
}

.movie-page .movie-card {
    max-width: 330px;
    margin-right: 2rem;
    border: 2px solid var(--grey-color);
    border-radius: 5px;
    padding: .8rem;
}

.movie-page .movie-card h2 {
    font-size: 1.6rem;
}

.tagline {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.info {
    margin-bottom: 1.5rem;
}

.info h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.description p {
    line-height: 1.4rem;
}