:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --primary-color: #55286f;
    --secondary-color: #2a0d39;
    --grey-color: #B2B2B2;

    --primary-color-hover: #803ba8;
    --secondary-color-hover: #60287a;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-color);
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: .5s;
}

a:hover {
    color: var(--secondary-color-hover);
}